include PYPI_README.md
include CHANGELOG.md
include LICENSE
include setup.cfg
recursive-include game_classes *
recursive-include games *
global-exclude __pycache__
prune *.egg-info
global-exclude *.egg-info/*
